<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="Jakub Radlica, Grzegorz Maciejewski"/>
    <link rel="icon" href="favicon.ico"/>

    <title>Kino Polonia</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../css/home.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script th:src="..  /js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Kino polonia</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Zalogowany jako: <span sec:authentication="name">user</span></a></li>
                <li><a href="#" th:href="@{/}">Strona główna</a></li>
                <li><a href="#" th:href="@{/templates/admin}">Panel administracyjny</a></li>
                <li><a href="settings" th:href="@{/settings}">Ustawienia</a></li>
                <li><a href="logout" th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#" th:href="@{/}">Strona główna</a></li>
                <li><a href="#" th:href="@{/admin}">Panel administracyjny<span class="sr-only">(current)</span></a></li>
                <li><a href="#" th:href="@{/admin/movie}">Filmy</a></li>
                <li><a href="#" th:href="@{/admin/showing}">Seanse</a></li>
                <li class="active"><a href="#" th:href="@{/admin/screen}">Sale</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <hr />
                <li><a href="settings" th:href="@{/admin/settings}">Ustawienia</a></li>
                <li><a href="logout" th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Ustawienia kina
            </h1>

            <div id="settingsForm" class="table-responsive">
                        <form action="#" method="post" th:action="@{/admin/settings}">
                        <div class="form-group">
                            <label for="ulgowy">Cena biletu ulgowego:</label>
                            <input th:text="${EXTRA_PRICE}" type="text" name="extraPrice" class="form-control" id="ulgowy" required="true" />
                        </div>
                        <div class="form-group">
                            <label for="normalny">Cena biletu normalnego:</label>
                            <input th:text="${NORMAL_PRICE}" type="text" name="normalPrice" class="form-control" id="normalny" required="true" />
                        </div>

                        <button type="submit" class="btn btn-default">Dodaj nowy cennik</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    /*]]>*/</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
