<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content="Jakub Radlica, Grzegorz Maciejewski"/>
    <link rel="icon" href="favicon.ico"/>

    <title>Kino Polonia</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="../css/home.css" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script th:src="../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Kino polonia</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Zalogowany jako: <span sec:authentication="name">user</span></a></li>
                <li><a href="#" th:href="@{/}">Strona główna</a></li>
                <li><a href="#" th:href="@{/admin}">Panel administracyjny</a></li>
                <li><a href="settings" th:href="@{/settings}">Ustawienia</a></li>
                <li><a href="logout" th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#" th:href="@{/}">Strona główna</a></li>
                <li><a href="#" th:href="@{/admin}">Panel administracyjny<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#" th:href="@{/admin/movie}">Filmy</a></li>
                <li><a href="#" th:href="@{/admin/showing}">Seanse</a></li>
                <li><a href="#" th:href="@{/admin/screen}">Sale</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <hr />
                <li><a href="settings" th:href="@{/admin/settings}">Ustawienia</a></li>
                <li><a href="logout" th:href="@{/logout}">Wyloguj</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Zarządzanie seansami
                <button class="btn btn-default" onclick="$('#showingForm').toggle();">
                    Dodaj nowy seans
                </button>
            </h1>

            <div id="showingForm" style="display: none" class="table-responsive">
                <h2 class="sub-header">Nowy film:</h2>
                <form action="#" method="post" th:action="@{/admin/movie/add}" th:object="${movie}">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="movie">Film:</label>
                            <select class="form-control" name="movieIdrouteTypeId" id="movie">
                                <!--<div th:each="routeType: ${routeTypeList}" th:object="${routeType}">-->
                                <option th:each="movie: ${movieList}" th:object="${movie}" th:value="*{id}"><p th:text="*{title}" /></option>
                                <!--</div>-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="screen">Sala:</label>
                            <select class="form-control" name="screenId" id="screen">
                                <!--<div th:each="routeType: ${routeTypeList}" th:object="${routeType}">-->
                                <option th:each="screen: ${screenList}" th:object="${screen}" th:value="*{getId()}"><p th:text="*{getScreenNumer()}" /></option>
                                <!--</div>-->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="routeDate">Data i godzina:</label>
                            <input th:size="10" th:value="${date}" class="form-control" name="routeDate" id="routeDate" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Dodaj</button>
                    </div>
                </form>
            </div>

            <!--<h2 class="sub-header">Seanse</h2>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-striped">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>ID</th>-->
                        <!--<th>Tytuł</th>-->
                        <!--<th>Opis</th>-->
                        <!--<th>Plakat</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr th:each="movie: ${movieList}" th:object="${movie}">-->
                        <!--<td th:text="*{id}">ID</td>-->
                        <!--<td th:text="*{title}">Tytuł</td>-->
                        <!--<td th:text="*{getDescription()}">Opis</td>-->
                        <!--<td><a th:href="*{imgUrl}"><img th:src="*{imgUrl}" th:width="100" th:height="200" /></a></td>-->
                        <!--<td>Edytuj | <a th:href="@{/admin}+*{id}">Usuń</a></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
    /*]]>*/</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
