<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Strona kina polonia wykonana na zaliczenie z ZMPO" />
    <meta name="author" content="Jakub Radlica" />
    <meta name="author" content="Grzegorz Maciejewski" />
    <!--<link rel="icon" href="../../favicon.ico" />-->

    <title>Kino Polonia</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../primaryStyle.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar">test</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Kino polonia</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-form navbar-right">
            <div sec:authorize="isAnonymous()">
                <div class="form-group">
                <form th:action="@{/login}">
                    <button type="submit"  class="btn btn-success">Zaloguj</button>
                </form>
                </div>
                <!--<a th:href="@{/login}"><button type="submit" class="btn btn-success">Zaloguj</button></a>-->
                <div class="form-group">
                <a th:href="@{/register}"><button type="submit" class="btn btn-info">Zarejestruj</button></a>
                </div>
            </div>

            <div class="navbar-form navbar-right" sec:authorize="isAuthenticated()">
                <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin}"><button type="submit" class="btn btn-info">Panel administracyjny</button></a>
                </div>
                <div class="form-group">
                    <a th:href="@{/logout}"><button type="submit" class="btn btn-warning">Wyloguj</button></a>
                </div>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Witaj na stronie Kina Polonia!</h1>
        <p>Kino Apollo istnieje w Trzebnicy od ponad stu lat. Po gruntownym remoncie, w 2005 roku Kino zostało otwarte na nowo oferując widzom już nie tylko piękną architekturę i wnętrza, lecz również najnowszą technologię wyświetlania obrazu i dźwięku, oprócz tego kino zostało wyposażone w internetową platformę umożliwiającą wydajniejszą obsługę, a także klienci mogą z jej pomocą rezerwować miejsca w kinie z wygodnego domu.
            Apollo posiada nowoczesne sale kinowe, wyposażone w klimatyzację i wygodne cylindryczne dołki po prawej stronie każdego fotela przeznaczone na kubki sygnowane marką kina Apollo.
            W Kinie Apollo staramy się pielęgnować najlepsze tradycje filmowe . Współpracujemy z kinami z całej Polski, tworząc siatkę kin wtajemniczonych, wewnątrz której dzielimy się ocenami filmów.
            W naszym repertuarze kinowym gości przede wszystkim ambitne kino polskie, europejskie i światowe, lubimy też cofać się w czasie i wracać do nieśmiertelnej klasyki filmowej.
            Zapraszamy do Kina Apollo i gwarantujemy niezapomniane wrażenia artystyczne, w pięknym, równocześnie staromodnym i nowoczesnym wnętrzu.!!!!!
        </p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
</div>

<div class="container">
    <!-- 3 last movies -->
    <div class="row">
        <div class="col-md-4" th:each="movie: ${last3Movies}" th:object="${movie}">
            <img th:src="*{getImgUrl()}" th:width="300" th:height="300" />
            <h2 th:text="*{getTitle()}">Tytuł</h2>
            <p th:text="*{getDescription()}">Opis</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Zobacz seanse</a></p>
        </div>
    </div>

    <hr />

    <footer>
        <p>&copy; 2017 Jakub Radlica, Grzegorz Maciejewski</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    /*<![CDATA[*/
    window.jQuery || document.write('<script src="/js/vendor/jquery.min.js"><\/script>')
    /*]]>*/</script>
<script src="js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->>
</body>
</html>
